<h3>Index</h3>
<% posts.each(function(post) {%>
  <a href="#/posts/<%= post.escape('id') %>"><%= post.escape('title') %></a>
  <button data-id='<%= post.escape('id') %>' class="delete">Delete</button><br>
<% })%>

<a href="#/posts/form">New Spell!</a>