<h1 id="necronomicon">NECRONOMICON</h1>
<div id = 'image'>
  <img src="http://upload.wikimedia.org/wikipedia/commons/a/a3/Cod-Piece_by_Wendelin_Boeheim.jpg" id="cod" width="391.818">

  <img src="http://img2.wikia.nocookie.net/__cb20120403011728/creepypasta/images/0/0a/Ustino-necronomicon-2.jpg" height="300" id="pic">
</div>
<div id='content'></div>